<!DOCTYPE html>
<html lang="fr"><head>
<meta charset="UTF-8">
<meta name="description" content="Super_resume" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>$TITLE - Grégoire Lits</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link href="atom.xml" type="application/atom+xml" rel="alternate" title="Gregoirelits.eu (all posts)" >
<!-- <link href="atom_en.xml" type="application/atom+xml" rel="alternate" title="Gregoirelits.eu (EN only)" >-->
<!-- <link href="atom_fr.xml" type="application/atom+xml" rel="alternate" title="Gregoirelits.eu (en français)" >-->
<link rel="shortcut icon" href="/files/favicon.ico" >
<link rel="canonical" href="http://gregoirelits.eu/fr/$HTMLLINK">
<style>
</style>
</head>
<body>  

<div class="navbar">
	<a href="/index.html">Blog</a>
	<!-- <a href="/publications.html">Publications</a> -->
	<a href="/research.html">Research</a>
	<a href="/teaching.html">Teaching</a>
	<a href="/about.html">About</a>
</div>


<h1>$TITLE</h1>
<p class="subtitle">By <a href="/index.html">Grégoire Lits</a> $date_of_the_day<p>
<article>

$CONTENT

</article>
<p class="signature">Mon nom est Grégoire Lits. Je suis sociologue des médias à l&#39;<a href="https://uclouvain.be/fr/index.html">UCLouvain</a> où je dirige l&#39;Observatoire de recherche sur les médias et le journalisme (<a href="https://sites.uclouvain.be/orm/">ORM</a>). Je poste sur ce blog des billets au sujet des recherches que je mène et qui portent principalement sur la circulation de l&#39;information dans la société en période de crise, mais aussi sur d&#39;autres sujets en lien avec l&#39;évolution et la place des médias d&#39;information dans la société.</p>	
<p class="hashtag">$HASHTAG</p>
<hr><p><small>
Permalink:<br>
<a href="http://gregoirelits.eu/fr/$HTMLLINK">http://gregoirelits.eu/fr/$HTMLLINK</a><br>
</small>
</p>
</body>
</html>
