<!DOCTYPE html>
<html lang="fr"><head>
<meta charset="UTF-8">
<meta name="description" content="$TITLE par Grégoire Lits" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="fediverse:creator" content="@Glits@mamot.fr" >
<meta property="og:title" content="$TITLE" >
<meta property="og:url" content="http://gregoirelits.eu/fr/$HTMLLINK" >
<meta property="og:type" content="article" >
<meta property="og:article:author" content="Grégoire Lits" >
<meta property="og:article:published_time" content="$date_of_the_day" >
<meta property="og:image" content="http://gregoirelits.eu/files/$IMAGE" >
<title>$TITLE - Grégoire Lits</title>
<link rel="stylesheet" type="text/css" href="/stylenv.css">
<link href="atom.xml" type="application/atom+xml" rel="alternate" title="Gregoirelits.eu (all posts)" >
<!-- <link href="atom_en.xml" type="application/atom+xml" rel="alternate" title="Gregoirelits.eu (EN only)" >-->
<!-- <link href="atom_fr.xml" type="application/atom+xml" rel="alternate" title="Gregoirelits.eu (en français)" >-->
<link rel="shortcut icon" href="/files/favicon.ico" >
<link rel="canonical" href="http://gregoirelits.eu/fr/$HTMLLINK">
<style>
</style>
</head>
<body>  

<nav class="navbar">
		
			<div class="container-navbar">
			
				<div class="bloc-navbar-left">
					<a href="/menu.html" aria-label="Menu"></a>
					<h2><a href="/index.html">Grégoire Lits</a></h2>
				</div>
				
				<div class="bloc-navbar-right">
					<p><a href="/index_en.html"><span class="smallcaps">english</span></a></p>   
				</div>
				
			</div>
	</nav>
	

<main>
		
<header>

<h1>$TITLE</h1>
<p class="subtitle">Publié dans <a href="/blog.html">blog</a> le $date_of_the_day<p>

</header>
<article>

$CONTENT


<p class="signature">Mon nom est Grégoire Lits. Je suis sociologue des médias et du numérique à l&#39;<a href="https://uclouvain.be/fr/index.html">UCLouvain</a> où je dirige l&#39;Observatoire de recherche sur les médias et le journalisme (<a href="https://sites.uclouvain.be/orm/">ORM</a>). Je poste sur ce blog des billets au sujet des recherches que je mène et qui portent principalement sur la circulation de l&#39;information dans la société en période de crise, mais aussi sur d&#39;autres sujets en lien avec l&#39;évolution et la place des médias d&#39;information dans la société.</p>	
<p class="hashtag">$HASHTAG</p>
</article>
</main>
<footer class="footer">
		
		<div class="container-footer">
		
			<div class="bloc-footer-left">
				<small>
				Permalink : <a href="http://gregoirelits.eu/fr/$HTMLLINK">http://gregoirelits.eu/fr/$HTMLLINK</a><br>
				Textes mis à disposition sous licence : <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC by-nc</a>.<br>
				Dernière mise à jour : $date_of_the_day.
				</small>
			</div>
			
			<div class="bloc-footer-right">
				<small>
				<a href="http://gregoirelits.eu/atom.xml">RSS</a><br>
				<a href="http://gregoirelits.eu/about.html">A propos de ce site</a><br>
				Mastodon : <a rel="me" href="https://mamot.fr/@Glits">@Glits</a>
				</small>
			</div>
				
		</div>
		
	</footer>
	
</body>
	
</html>


