/*CSS template inspirated by Lionel Dricot's Blog : www.ploum.net*/

@font-face {
  font-family: Atkinson ;
  src: url('/AtkinsonHyperlegible-Regular.ttf') format("truetype");
}

body {margin:40px auto;
	max-width:675px;
	line-height:1.4;
	font-size:16px;
	color:#444;
	background-color: #fdf6e3; 
	padding:0 10px;
	font-family:  Atkinson, Inter, Calibri, sans-serif; 
	}

h1{line-height:1.2; 
	text-align:center; 
	}

h2,h3{ font-weight: bold; 
	border-bottom: 1px solid #ccc; 
	line-height:1.2; 
	padding: 10px 0px 0px 0px;
	}

pre,blockquote,.signature {
	background: #eee8d5;
	padding: 1em
	}

blockquote,.signature{
	font-style: italic;
	margin: 2em 1em}

p,ul,ol { list-style-type: circle;}

li { margin-bottom: 0.75%;}

a { color:#3a6fa0; 
	text-decoration:none; 
	padding:0.5em 0; 
	}

a:hover {
  color: #3a6fa0;
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.header{
	margin: 1em 0;
	display: block;
	width:100%;
}
.subtitle {font-size:20px; 
	padding-bottom: 20px; 
	text-align: center; 
	font-style: italic; 
	}
	
.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	text-align: center;
	font-variant: small-caps;
	padding: 10px 25px;

}

.navbar a {
  padding: 0.8em 1em;
  color: #444;
  font-size: 16px;
}

.navbar a:hover {
  color: #fff;
  background-color: #3a6fa0;
  border-radius: 5px;
  text-decoration: none;
}

.bibliography { list-style-type: none; 
	text-indent: -2.2em;
	}

.horizontal { 
		text-align: center; 
		padding:15px 40px 15px;
		font-size: 16px;
		/*text-transform: uppercase;*/
}

.horizontal li{display: inline-block; 
				margin: 0 0.5em;
	}

.hashtag { color: #f2efec;}

.photo {
  display: flex;
  align-items: center; /* pour aligner verticalement l'image et le texte */
  gap: 1rem; /* espace entre l'image et le texte */
}

.photo img {
  width: 150px; /* taille de l'image */
  height: auto;
}

/* ////////////////  Responsive :   écrans plus petits que 540 px ///////////*/

@media (max-width: 540px) {

  


	h1 {
		line-height:1.2; 
		font-size:30px; 
	}
	


	.subtitle {font-size:18px; 
		padding-bottom: 20px; 
		text-align: center; 
		line-height: 1.5; 
		font-style: italic; 
		}
		
	body {
	line-height:1.6;
	font-size:18px;
	padding:0 30px;
	}

}