/*CSS template inspirated by Lionel Dricot's Blog : www.ploum.net*/

@font-face {
  font-family: Atkinson ;
  src: url('/AtkinsonHyperlegible-Regular.ttf') format("truetype");
}

body {margin:40px auto;
	max-width:625px;
	line-height:1.4;
	font-size:16px;
	color:#444;
	background-color: #fdf6e3;
	padding:0 10px;
	font-family:  Atkinson; }

h1{line-height:1.2; font-size:35px; padding-top: 20px; font-weight: bold; text-align:center; color: #444; font-family: Atkinson, Calibri, sans-serif; }

h2,h3{ font-weight: bold; border-bottom: 1px solid; line-height:1.2; color: #444; font-family: Atkinson, Calibri, sans-serif;}

pre,blockquote,.signature {
	background: #eee8d5;
	padding: 1em}

blockquote,.signature{
	font-style: italic;
	margin: 2em 1em}

p,ul,ol { list-style-type: circle;}
li { margin-bottom: 0.75%;}

a { color:#006666; text-decoration:none; padding:0.2em 0; }

a:hover { color:#006666; background-color: #fff5d7; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.header{
	margin: 1em 0;
	display: block;
	width:100%;
}
.subtitle {padding-bottom: 20px; text-align: center; line-height: 1.2; font-weight: lighter; font-style: italic; font-family: Atkinson, Calibri, sans-serif; color:#444;}
.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	text-align: center;
	/*font-variant: small-caps;*/
	font-weight: normal;
	font-family: Atkinson, Calibri, sans-serif;
	background-color: /*#F0F0F4*/ #fff5d7;
	padding-left: 20px;
	padding-right: 20PX;
}

.navbar a { padding:0.5em 0; }

.bibliography { list-style-type: none; text-indent: -2.2em;}
.horizontal { text-align: center; padding:25px 0px;}
.horizontal li{display: inline-block; margin: 0 0.5em;}
.vert { color: #79BD9A;}
