/* Reset de base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
	margin:40px auto;
	font-family: sans-serif;
	line-height: 1.5;
	color:#342628;
	font-size:16px;
	font-family: 'Quicksand','Inter', Calibri, sans-serif; 
	background-color: #f2efec;

}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2,h3{ 

	 font-size: 1.5rem;
	 padding: 25px 0px 0px 0px;
	 border-bottom: 1px solid #9AC8EB;
	 line-height:1.2; 
	 margin-bottom: 25px;
	}





a { color:#3a6fa0; 
	text-decoration:none; 
	font-weight: bold;
	}

a:hover {
  color: #FEAA00;
  text-decoration: underline;
}




li { margin-bottom: 1rem;
	 padding: 0px 25px 0px 25px;
	 list-style-type: none;

}




.site-title {
   font-size: 1.5rem;
   font-weight: bold;
}

.subtitle {
	font-style: italic; 
	font-size: 1rem;
	}

.subtitle-article {
	font-style: italic; 
	font-size: 1rem;
	text-align: center;
}
	
	
	
.header {
  display: flex;
  flex-direction: column-reverse; /* empile navbar au-dessus du titre sur mobile */
  align-items: center;
  text-align: center;
  gap: 0.5rem;
	max-width: 800px;
	margin:40px auto;
	border-bottom: 1px solid #9AC8EB;
	padding-bottom: 1em;
}




.header a {
  margin-left: 1rem;
  text-decoration: none;
   color: #444;
  font-size: 16px;

}

.header a:hover {
  color: #fff;
  background-color: #3a6fa0;
  border-radius: 5px;
  text-decoration: none;
}

/* MAIN CONTENT */


.content {
  padding: 0px 25px;
  margin: 40px auto;
  max-width: 800px;
}



/* FOOTER */
.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


/*
/* ---- MEDIA QUERIES ---- */

/* Tablette (min-width: 600px) */
@media (min-width: 600px) {
 .header {
    flex-direction: row; /* remet en ligne */
    justify-content: space-between;
    text-align: left;
  }


}
