@font-face {
  font-family: Atkinson ;
  src: url('AtkinsonHyperlegible-Regular.ttf') format("truetype");
}


body {
	color: #333;
	background-color: #fff;
	min-height: 100%;
	margin: 0;
	font-family: Atkinson, Verdana, Open sans, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
  
 }
 
 a {
	 color: #3a6fa0;
	 text-decoration: none;
 }
 
  a:hover {
	 color: #3a6fa0;
	 text-decoration: underline;
	
 }
 
p,ul,ol { list-style-type: none;}

li { margin-bottom: 0.75%;}

li a {
	 font-weight: normal;
}

.smallcaps {
	font-variant: small-caps;
}

 .navbar {
	z-index: 999;
	background-color: #fff;
	position: sticky;
	top: 0;
 }
 
 .navbar2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	text-align: center;
	font-variant: small-caps;
	font-weight: normal;
	font-family: Atkinson, Inter, Calibri, sans-serif; 
	padding: 10px 25px;
	border-bottom: 1px #ccc;
}
 
 .container-navbar {
	max-width: 1320px;
	padding: 16px 15px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: #fff;
	display: flex;
	align-items: center;           /* Verticalement centré */
	justify-content: space-between;/* Left à gauche, Right à droite */
	gap: 1rem;
 }
 
 .bloc-navbar-left,
.bloc-navbar-right {
  display: flex;
  align-items: center;
  gap: .75rem;
}



.section-hero {
	width: 100%;
	padding: 80px 15px;
	width: 100%;
	padding: 15px 15px;
	line-height: 29px;
	position: relative;
	display: block;
	box-sizing: border-box;
	background-color: #fff;
   
  }
  
 .container-section {
  max-width: 1320px;
	padding: 16px 16px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: #f2efec;
	display: flex;
	align-items: center;           
	justify-content: space-between;
	gap: 1rem;
	border-radius: 12px;
	background-image: url("files/chalet.png"); /* lien vers l'image sur pixabay : https://pixabay.com/fr/photos/%C3%AEle-lac-%C3%A9glise-for%C3%AAt-des-arbres-7660016/*/
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
 }



.content-hero {
	padding: 20px 24px;
	color: #262c2e;
	background-color: #ffffffe6;
	border-radius: 12px;
	line-height: 29px;
	width: 100%; /* Par défaut, il prend toute la largeur */
}

.english {text-align: right}

.english button {
	color: #fff;
	background-color: #004c36;
	border-radius: 60px;
	padding: 12px 18px;
	font-size: 16px;
	line-height: 1.2em;
	transition-duration: 0.4s;
	cursor: pointer;
	border: none;
}

 .container-blog {
  max-width: 1320px;
	padding: 16px 16px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: #f2efec;
	display: flex;
	align-items: center;         /* Verticalement centré */
	justify-content: space-between;/* Left à gauche, Right à droite */
	gap: 1rem;
	border-radius: 12px;
	
 }
 
  .content-book {
	padding: 20px 24px;
	color: #262c2e;
	border-radius: 12px;
	line-height: 29px;
	width: 100%; /* Par défaut, il prend toute la largeur */

}
 
 .content-blog {
	padding: 20px 24px;
	color: #262c2e;
	background-color: #ffffffe6;
	border-radius: 12px;
	line-height: 29px;
	width: 100%; /* Par défaut, il prend toute la largeur */

}

.footerg {
	z-index: 999;
	background-color: #fff;
	position: sticky;
	top: 0;
 }
 
 .container-footer {
	max-width: 1320px;
	padding: 32px 15px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: #fff;
	display: flex;
	align-items: center;           /* Verticalement centré */
	justify-content: space-between;/* Left à gauche, Right à droite */
	gap: 1rem;
	border-top: 1px solid #ddd;
 }
 
 .bloc-footer-left,
.bloc-footer-right {
	display: flex;
	align-items: center;
	gap: .75rem;
}

button {
	color: #fff;
	background-color: #04AA6D;
	border-radius: 60px;
	padding: 12px 18px;
	font-size: 16px;
	line-height: 1.2em;
	transition-duration: 0.4s;
	cursor: pointer;
	border: none;
}

button:hover {
  background-color: #3a6fa0; /* Green */
  color: white;
}


.bibliography { list-style-type: none; 
	text-indent: -2.2em;
	}


/* Responsive : empile les blocs sur petit écran */
@media (max-width: 540px) {

  
.navbar2 {
		flex-direction: column;
		gap: 10px; /* petit espace entre les éléments */
	}
	


}




@media (min-width: 1000px) {
	

	
  .content-hero {
    max-width: 50%;
  }
  
  .content-blog {
    max-width: 50%;
  }
  
   .container-section {
	padding: 24px 24px;
	}
	
	.container-blog {
	padding: 24px 24px;
	}


	button {
		padding: 16px 32px;
	}
	
	 .container-navbar {
	padding: 16px 0px 16px 24px;
	 }
	 
	   .content-book {
	padding: 24px 24px;
	line-height: 29px;
	width: 100%; /* Par défaut, il prend toute la largeur */
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	text-align: center;

}

}