@font-face {
  font-family: Atkinson ;
  src: url('AtkinsonHyperlegible-Regular.ttf') format("truetype");
}


body {
	color: #17181E;
	background-color: #fff; /* #fdf6e3;*/
	min-height: 100%;
	margin: 0;
	font-family: Atkinson, Verdana, Open sans, Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
  
 }
 
h1 {
	line-height: 40px;
}

h1 {line-height:1.2; 
	font-size:35px; 
	padding-top: 20px; 
	text-align:center;
	}




h2 a {
	text-decoration: none;
}


 a {
	 color: #101585; /* bleu clair */
	 text-decoration: none;

 }
 
  a:hover {
	 color: #136f63; 
	 text-decoration: underline;
	
 }
 
p,ul,ol { list-style-type: circle;}

li { margin-bottom: 0.75%;}


.bibliography { 
	text-indent: -2.2em; /* pour donner un style bibliographique aux listes*/
	list-style-type: none;
	}


.smallcaps {
	font-variant: small-caps; /*pour mettre du texte en small caps via des span*/
} 



.signature {
	background: #f4f1eb;
	padding: 1em
	}
	
.hashtag { color: #fdf6e3;}

.subtitle {font-size:20px; 
	padding-bottom: 20px; 
	text-align: center; 
	line-height: 1.5; 
	font-style: italic; 
	font-family: Atkinson, Inter, Calibri, sans-serif; 
	color:#444;
	}

/* ////////// stylage menus de navigation //////// */

.navbar {
	z-index: 999;
	/*position: sticky;*/
	top: 0;
 }
 

 
.container-navbar {
	max-width: 1320px;
	padding: 16px 15px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: #fff; /* #fdf6e3;*/
	display: flex;
	align-items: center;           /* Verticalement centré */
	justify-content: space-between;/* Left à gauche, Right à droite */
	gap: 1rem;
 } 
 
 
 .bloc-navbar-left,
.bloc-navbar-right {
  display: flex;
  align-items: center;
  gap: .75rem;
}


 
.navbar2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	text-align: center;
	font-variant: small-caps;
	font-weight: normal;
	font-family: Atkinson, Inter, Calibri, sans-serif; 
	padding: 10px 25px;
	border-bottom: 1px #ccc;
}
 
.navbar2 a {
	font-weight: bold;
}
 

/* //////////  Pour styler les Div containers  /////////// */

.section-hero, .section-blog, .section-publication {
	width: 100%;
	padding: 15px 15px;
	line-height: 29px;
	position: relative;
	display: block;
	box-sizing: border-box;
	background-color: #fff; /* #fdf6e3;*/
   
  }
   
 
/*pour styler les container dans les sections*/ 
  


  
 .container-hero {
	max-width: 1320px;
	padding: 16px 16px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: #fdf6e3;
	display: flex;
	align-items: center;           
	justify-content: space-between;
	gap: 1rem;
	border-radius: 12px;
	/*background-image: url("files/chalet.png");*/
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
 }

 .container-blog, .container-publication {
	max-width: 1320px;
	padding: 16px 16px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: /*#f2efec*/ #fdf6e3;
	display: flex;
	align-items: center;         /* Verticalement centré */
	justify-content: space-between;/* Left à gauche, Right à droite */
	gap: 1rem;
	border-radius: 12px;
	
 }

/*pour styler le conetnu dans les containers*/ 

.content-hero {
	padding: 20px 24px;
	color: #17181E;
	background-color: #ffffffe6;
	border-radius: 12px;
	line-height: 29px;
	width: 100%; /* Par défaut, il prend toute la largeur */
}


.content-book {
	padding: 20px 24px;
	border-radius: 12px;
	line-height: 29px;
	width: 100%; /* Par défaut, il prend toute la largeur, ! 50% dans média queries pour grands écrans */

}
 
.content-blog, .content-publication {
	padding: 20px 24px;
	background-color: #ffffffe6;
	border-radius: 12px;
	line-height: 29px;
	width: 100%; /* Par défaut, il prend toute la largeur, ! 50% dans média queries pour grands écrans */

}

.content-static {
	margin:0px auto;
	padding: 0px 16px;
	/*background-color: #ffffffe6;*/
	border-radius: 12px;
	max-width:675px;/* Par défaut, il prend toute la largeur, ! 50% dans média queries pour grands écrans */
	line-height:1.4;
	font-size:16px;

}

.content-static h2,h3{ font-weight: bold; 
	border-bottom: 1px solid #ccc; 
	line-height:1.2; 
	padding: 10px 0px 0px 0px;
	}

/*Pour styler le footer*/

.footer {
	z-index: 999;
	background-color: #fff;
	position: sticky;
	top: 0;
 }
 
 .container-footer {
	max-width: 1320px;
	padding: 32px 15px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: #fff;
	display: flex;
	align-items: center;           /* Verticalement centré */
	justify-content: space-between;/* Left à gauche, Right à droite */
	gap: 1rem;
	border-top: 1px solid #ddd;
 }
 
 .bloc-footer-left,
.bloc-footer-right {
	display: flex;
	align-items: center;
	gap: .75rem;
}
.bloc-footer-right {
	text-align: right;
}

/* Pour styler les boutons*/

button {
	color: #fff;
	background-color: #04AA6D; /*vert */
	border-radius: 60px;
	padding: 12px 18px;
	font-size: 16px;
	line-height: 1.2em;
	transition-duration: 0.4s;
	cursor: pointer;
	border: none;
}

button:hover {
  background-color: #3a6fa0; /* bleu lien */
  color: white;
}


.button-right {text-align: right} /* pour aligner les boutons dans les div content à droite*/


.photo {
  display: flex;
  align-items: center; /* pour aligner verticalement l'image et le texte */
  gap: 1rem; /* espace entre l'image et le texte */
}

.photo img {
  width: 150px; /* taille de l'image */
  height: auto;
}

/* ////////////////  Responsive : empile les blocs sur petit écran plus petit que 540 px ///////////*/

@media (max-width: 540px) {

  
	.navbar2 {
		flex-direction: column; /* Pour que le menu 2 s'empile sur petit écran */
		gap: 10px; /* petit espace entre les éléments */
		}
		
	.button-right {
		text-align: center} /* Pour que les boutons dans les container se centrent sur petit écran */


	h1 {
		line-height:1.2; 
		font-size:27px; 
		padding-top: 20px; 
		font-weight: bold; 
		text-align:center; 
	}
	
	h2 {
		line-height:1.2; 
	}

	.subtitle {font-size:16px; 
		padding-bottom: 20px; 
		text-align: center; 
		line-height: 1.5; 
		font-style: italic; 
		}
		
	.content-static {
	line-height:29px;
	font-size:18px;

}

	.content-static li {
padding-bottom: 10px;

}


}


/* ////////////////  Responsive : pour les écrans plus grands que 1000px ///////////*/

@media (min-width: 1000px) {
	

	.content-hero {
    max-width: 50%;
	}
  
	.content-blog, .content-publication {
    max-width: 100%;
	}
	
	.container-blog, .container-publication, .container-hero {
	padding: 24px 24px;
	}

	button {
		padding: 16px 32px;
	}
	
	.container-navbar {
	padding: 16px 0px 16px 24px;
	 }
	 
	.content-book {
	padding: 24px 24px;
	line-height: 29px;
	width: 100%; /* Par défaut, il prend toute la largeur */
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	text-align: center;
	}
	

	


}